.wrapper {
  padding: 24px 0;
}

.wrapper .test {
  position: absolute;
  width: 169px;
  height: 19px;
  left: 32px;
  top: 86px;
  margin-bottom: 0px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #A59E9E;
}

.input {
  position: relative;
  width: 311px;
  height: 48px;
  left: 32px;
  top: 10px;

  /* gray */
  background: #F2F4F6;
  border-radius: 3px;
  border: none;
}

.joinList {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.joinList .input {
  /* margin-top: 16px;
  padding: 16px;
  font-size: 14px;
  line-height: 150%;
  border-radius: 3px;
  background-color: var(--gray-color-100); */
}

.join-button {
  position: absolute;
  width: 60px;
  height: 19px;
  left: calc(50% - 60px/2 + 0.5px);
  top: calc(50% - 19px/2);

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #FFFFFF;
}