.wrapper {
  padding: 24px 24px 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  font-family: 'Pretendard';
  font-style: normal;
  font-size: var(--regular-font-size);
  line-height: 18px;
}

.wrapper .info {
  align-items: left;
  height: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--gray-color-400);
}

.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;  
  align-items: flex-start;
  gap: 10px;
}

.input {
  width: 100%;
  height: 48px;
  margin-bottom: 0px;
  background: var(--gray-color-100);
  border-radius: 3px;
  border: none;
}

.emailContainer {
  display: flex;
  align-items: center;  /* 수직 중앙 정렬 */
  gap: 10px;
  width: 100%;
}

.inputEmail {
  width: 70%;
  /* height: 48px;
  margin-bottom: 0px;
  background: #F2F4F6;
  border-radius: 3px;
  border: none; */
  flex: 1;             /* 가능한 공간을 모두 차지하도록 함 */
  height: 48px;
  background: #F2F4F6;
  border-radius: 3px;
  border: none;

}

.emailCheck-button {
  padding: 8px 6px;
  height: 48px;
  border-radius: 3px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 12px; /* 글자 크기 */
  cursor: pointer; /* 마우스 포인터 변경 */
  transition: background-color 0.3s; /* 배경색 변화에 대한 부드러운 트랜지션 */
}

.emailCheck-button:hover {
  background-color: var(--red-color); 
}

.emailCheck-button:active {
  background-color: #bfc1c3; /* 버튼 클릭 시의 배경 색상 */
}

.red {
  color: var(--red-color);
}

.register-button {
  padding: 8px 6px;
  height: 48px;
  border-radius: 3px;
  width: 100%;
  background-color: #0e0e0e;
  color: white;             
}

.cancel-button {
  padding: 8px 6px;
  height: 48px;
  border-radius: 3px;
  width: 100%;
  background-color: var(--white-color); 
  color: var(--black-color);            
  border: 1px solid var(--black-color);
}