.wrapper {
  padding: 24px 0;
}

.joinList {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.joinList .input {
  /* margin-top: 16px;
  padding: 16px;
  font-size: 14px;
  line-height: 150%;
  border-radius: 3px;
  background-color: var(--gray-color-100); */
}