:root {
  --black-color: #000;
  --white-color: #fff;
  --gray-color-100: #f2f4f6;
  --gray-color-200: #a59e9e;

  --red-color: #f00;

  --thin-font-size: 10px;
  --extra-light-font-size: 12px;
  --light-font-size: 14px;
  --regular-font-size: 16px;
  --medium-font-size: 18px;
  --semi-bold-font-size: 20px;
  --bold-font-size: 24px;
  --extra-bold-font-size: 28px;
  --black-font-size: 32px;
  --logo-font-size: 48px;

  --thin-font-weight: 100;
  --extra-light-font-weight: 200;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semi-bold-font-weight: 600;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 800;
  --black-font-weight: 900;
}
