.calendarWrapper {
  margin-top: 24px;
  padding: 16px;
  border-radius: 3px;
  background-color: var(--white-color);
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
}

.calendarTitle {
  font-weight: 600;
}

.calendarPinList {
  display: flex;
  justify-content: flex-end;
  flex-basis: 200px;
  gap: 6px;
}

.calendarPinItem {
  max-width: 12px;
  font-size: 14px;
  font-weight: 600;
  flex-basis: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: end; */
}

.notAttendance::after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  padding: 6px;
  border-radius: 100px;
  background-color: var(--gray-color-200);
}

.attendance::after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  padding: 6px;
  border-radius: 100px;
  background-color: var(--blue-color);
}

.late::after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  padding: 6px;
  border-radius: 100px;
  background-color: var(--yellow-color);
}

.absent::after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  padding: 6px;
  border-radius: 100px;
  background-color: var(--red-color);
}

.earlyLeave::after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  padding: 6px;
  border-radius: 100px;
  background-color: var(--green-color);
}

.officialLeave::after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  padding: 6px;
  border-radius: 100px;
  background-color: var(--orange-color);
}

.sickLeave::after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  padding: 6px;
  border-radius: 100px;
  background-color: var(--pink-color);
}

.dayList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px 12px;
}

.dateList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
