.CurriculumWrapper {
  padding: 0 48px 48px;
  height: calc(100vh - 190px);
}

.CurriculumWrapper .curriclum-table-header {
  background-color: #000;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-col {
  padding: 24px;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-col {
  padding: 24px;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-col-num {
  width: 7%;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-col-title {
  width: 25%;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-col-detail {
  width: 30%;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-col-time {
  width: 10%;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-col-period {
  width: 20%;
}

.CurriculumWrapper
.curriclum-table-header
.curriculum-table-header-row {
  display: flex;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-row
.curriclum-table-header-col {
  position: relative;
}

.CurriculumWrapper
.curriclum-table-header
.curriclum-table-header-row
.curriclum-table-header-col
.curriclum-table-header-cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}