.CurriculumWrapper {
  padding: 24px 0;
  position: relative;
  background-color: #f7f7f7; /* 배경색 변경 */
}

.table-container {
  max-height: calc(100vh - 150px);
  max-width: 100%;
  overflow: auto;
}

.curriculum-table {
  width: 200%;
  border-collapse: collapse;
}

.curriculum-table thead th {
  background: #e0e0e0; /* 테이블 헤더 색상 조정 */
  position: sticky;
  top: 0;
  z-index: 1;
  border: none;
}

.col-index {
  width: 10%;
}

.col-subject {
  width: 30%;
}

.col-detail {
  width: 60%;
}

.col-time {
  width: 15%;
}

.col-period {
  min-width: 150px;
}

.curriculum-table th, .curriculum-table td {
  border: 1px solid #e0e0e0; /* 경계색 변경 */
  padding: 8px;
  text-align: center;
  color: #333; /* 텍스트 색상 조정 */
}

.curriculum-table td {
  vertical-align: middle;
}
