.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
  padding: 32px;
  border-radius: 20px;
  background-color: var(--white-color);
}
