.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px - 72px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 10px;
  font-size: var(--black-font-size);
  font-weight: var(--semi-bold-font-weight);
}

.desc {
  margin-top: 18px;
  color: var(--gray-color-300);
  font-size: var(--medium-font-size);
}

.btn {
  margin-top: 24px;
  padding: 16px 24px;
  border-radius: 3px;
  background-color: var(--black-color);
  color: var(--white-color);
}
