/* 바디 */

.body-wrapper {
  padding: 0px 24px 97px 24px;
}

/* notice */

table {
  width: 100%;
}

.table-head {
  height: 44px;
  position: sticky;
  top: 60px;
  background-color: white;
}

.table-head tr th {
  font-weight: var(--bold-font-weight);
  vertical-align: middle;
  border-bottom: 1px solid #000000;
}

.table-tag {
  width: 25%;
  font-size: 16px;
}

.table-title {
  max-width: 50%;
  font-size: 16px;
}

.table-date {
  width: 25%;
  color: #000;
  font-size: 16px;
}

.table-date div {
  font-size: 8px;
}

.table-body tr {
  font-size: 14px;
}

.table-body tr td {
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  height: 44px;
  border-bottom: 1px solid #cacaca;
}

.table-created-date {
  margin-top: 2px;
}

/* id */

.title-bar {
  margin-top: 22px;
}

.top-bar-row-1 {
  margin-bottom: 10px;
}

.top-bar-tag {
  height: 14px;
  display: inline-flex;
  font-size: 16px;
  margin-right: 8px;
}

.top-bar-title {
  padding-left: 8px;
  border-left: 1px solid #cacaca;
  display: inline-flex;
  font-size: 16px;
}

.top-bar-row-2 {
  display: inline-flex;
  font-size: 14px;
}

.top-bar-author {
  margin-right: 12px;
}

.notice-content {
  margin-top: 16px;
  border-top: 1px solid #cacaca;
  line-height: 180%;
  padding: 16px 0 10px 0;
  font-size: 14px;
}
